@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Choose the Right Movie</h1>
    <p>Choose the Right Movie is your go to LDS movie database.</p>
    <img src="~/images/great-except.jpg" alt="mormon-ad" />
</div>
